<div class="modal-container">
    <div class="modal-close">
        <button class="modal-btn-close" (click)="closeModal()">x</button>
    </div>
    <div class="modal-title">
        <h3><b>INTELIGENTA ARTIFICIALA</b></h3>
    </div>
    <div>
        <div class="modal-body">
            <p class="documentation"> &nbsp;&nbsp;&nbsp;&nbsp; [DEX03] "LOGICA este ştiinţa demonstraţiei al cărui
                obiect este
                stabilirea condiţiilor corectitudinii gândirii, a formelor şi legilor
                generale ale raţionării corecte, conforme prin ordinea ideilor cu
                organizarea legică a realităţii obiective".
                [Larouse1998] „Teorie ştiinţifică a raţionamentului ce exclude
                procesele fiziologice”.
            </p>
            <br>
            <p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp; Logica matematică = logica simbolică în care afirmaţiile
                (pe care
                le vom numi propoziţii) sunt notate cu literele alfabetului. <br>
                Logica propoziţiilor = un limbaj formal care conţine un alfabet,
                reguli de sintaxă, axiome şi o regulă de deducţie. (studiază
                legăturile dintre propoziţii. (!”Această propoziţie este falsă”?)). <br>
                Propoziţii = atom = afirmaţii cărora li se ataşează o valoare de adevăr. <br>
                Logica simbolică = utilizează simboluri pentru reprezentarea elementelor
                universului problemei şi a operaţiilor asupra acestora.</p>
            <p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp;Conform Consecinței logice - Dacă F1,..,Fn,G sunt f.b.f.,
                şi dacă pentru orice interpretare I pentru
                care F1^F2^...^Fn este adevărată, atunci G este adevărată atunci se
                spune că G este o consecinţă logică a lui F1,...,Fn, iar F1,..., Fn sunt
                axiome pentru G. <br>
                Teorema1: G este o consecinţă logică a lui F1,..,Fn dacă şi numai dacă formula
                F1^...^Fn->G este validă. <br>
                Teorema2: G este o consecinţă logică a lui F1,..,Fn dacă şi numai dacă formula
                F1^...^Fn ^ ~G este inconsistentă.

            </p>
            <p class="documentation">Agentul reflex simplu <br>
                Aceşti agenţi selectează acţiunea pe care o returnează, bazându-se doar pe percepţia curentă,
                ignorând istoria de percepţii.
                În ceea ce priveşte exemplul cu aspiratorul este vorba despre un agent reflex simplu, deoarece
                decizia se bazează doar pe locaţia curentă şi pe faptul dacă aceasta conţine sau nu mizerie.
                Un alt exemplu relevant are în vedere un taxi automat. Dacă maşina din faţă frânează , şi lumina
                de la frână se aprinde, agentul observă si iniţiază frânarea. Practic, se realizează o procesare pe
                baza inputului vizual pentru a stabili condiţia pe baza căreia se stabileşte condiţia : ”maşina din
                faţă frânează”. Declanșatoarele stabilesc o conexiune la nivelul agentului program pentru acţiunea
                65
                de frânare. Astfel regula de acţiune pe baza condiţiei este: Dacă maşina din faţă frânează atunci
                iniţializez frânarea.
                Agentul percepe starea curentă a mediului prin intermediul senzorilor, iar pe baza unei reguli a
                cărei condiţie se potriveşte cu starea curentă, selectează acţiunea pe care o realizează prin
                intermediul efectorilor. Sunt simpli şi cu inteligenţă limitată.
            </p>
            <br>
            <p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp;Legile booleene - caracter dual: în orice teoremă din
                algebra booleană dacă se
                înlocuieşte v cu ^ şi invers, teorema rămâne adevărată.
                Legile deductibile: legile lui DeMorgan:
                ~( P ^ Q ) = ~P v ~Q, respective dualul, ~( P v Q ) = ~P ^ ~Q
                Prin inducţie completă -> generalizarea legilor lui DeMorgan la n propoziţii:
                ~ (P1 ^ P2 ^ … ^Pn ) = ~P1 v ~P2 v … v ~Pn, respectiv
                ~ (P1 v P2 v … vPn ) = ~P1 ^ ~P2 ^ … ^ ~Pn</p>
            <p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp;PL- propoziţii simple - tratate atomic, ca un tot unitar -
                se vor nota cu câte un simbol
                - litere mari sau mici de la mijlocul alfabetului P,Q,R,…, respectiv p,q,r,...
                Propoziţiile simple - nici o parte a lor nu este o propoziţie.
                PL clasic - orice propoziţie poate fi T sau F, dar nu amândouă deodată (legea
                terţului exclus) - logică bivalentă.
                Teoremele în logică, sisteme în care se pleacă cu valoarea de adevăr a unor
                propoziţii, numite ipoteze (premise), şi aplicând o serie de reguli de raţionare (reguli
                inferenţiale), operaţii şi funcţii logice, se ajunge la alte propoziţii, numite concluzii.</p>
            <p class="documentation">O aserţiune în FOPL este o formulă în care toate variabilele sunt calificate, deci
                nu există nici o variabilă liberă. <br> Constantele, variabilele şi argumentele funcţiei sau predicatele
                trebuie să ia
                valoarea din universul peste care s-a definit funcţia sau predicatul respectiv. <br>
                Predicatele - simboluri prin care se notează relaţii sau funcţii
                definite pe elementele domeniului discursului şi care iau valorile
                adevărat (T) sau fals (F).
            </p>
        </div>
    </div>
</div>