<div class="modal-container">
	<div class="modal-close">
		<button class="modal-btn-close" (click)="closeModal()">x</button>
	</div>
	<div class="modal-title">
		<h3><b>PROIECTARE WEB</b></h3>
	</div>
	<div>
		<div class="modal-body">
			<p class="documentation"> &nbsp;&nbsp;&nbsp;&nbsp; Un server web este o tehnologie de informații care procesează cererile prin intermediul HTTP.
                HTTP(HyperText Transfer Protocol) este un protocolul de rețea folosit pentru a distribui informații
                pe World Wide Web. Ca şi alte protocoale utilizate în Internet, protocolul HTTP (HyperText
                Transfer Protocol) este un protocol de tip cerere-răspuns, bazat pe TCP/IP, destinat transferurilor
                informaţiilor hipermedia. Apache foloseşte HTTP pentru a comunica cu Internet Explorer, pentru a
                analiza URL-ul şi a stabili protocolul de conectare în cazul de faţă:-http://localhost. Termenul de
                server se poate referi fie la întregul sistem de calcul, fie la un aparat, fie în mod specific pentru
                software-ul care acceptă și supraveghează cererile HTTP. Serverele Web au ca funcţionalitate de
                bază recepţionarea de cereri anonime de la clienţi şi furnizarea de informaţii într-o manieră dorită a fi
                eficientă şi rapidă [Ricart1998]. Deci, un server Web este un daemon care acceptă conexiuni conform. </p>
			<br>
			<p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp;Proiectul Apache reprezintă dezvoltarea unui soft colaborativ care urmăreşte cererea şi utilizarea
                unui Web Server puternic şi robust. Proiectul era condus de către voluntari din întreaga lume.Acest
                grup de voluntari foloseşte Internet-ul pentru comunicare, planificări şi dezvoltarea serverului şi a
                documentaţiei de rigoare.Ei sunt cunoscuţi sub denumirea de Grupul Apache (Apache Group).În
                plus, sute de utilizatori au contribuit cu idei, coduri şi documentaţie la acest proiect.Apache
                furnizează o implementare robustă a protocolului HTTP. [Converse_Park_Morgan_2005]
                </p>
			<p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp;Browserul [site31] este un program folosit la afişarea de conţinut web. Acesta se impune să
                poată să interpreteze pagini HTML, să afişeze imagini şi alte forme de conţinut multimedia, să
                folosească referinţe (link-uri) etc. Cea mai importantă caracteristică a sa este capacitatea lui de a
                se conecta prin protocolul TCP la un server web.
			</p>
			<br>
			<p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp;MySQL este cel mai popular sistem de management pentru baze de date relaţionale deoarece
                este open-source. MySQL Server a fost creat pentru a lucra cu baze de date mai rapid decât
                soluţiile deja existente la ora actuală pe piaţă [Graeme-site].MySQL este un sistem de gestiune a bazelor de date. Adăugarea, inserarea şi procesarea
                datelor memorate pe un calculator impune prezența unui astfel de sistem de gestiune a datelor.
                Având în vedere că toate calculatoarele sunt destinate pentru memorarea informaţiilor,
                managementul bazelor de date joacă un rol decisiv, atât în gestiunea datelor ca activitate de sine
                stătătoare, cât şi în cadrul aplicaţiilor ample [BuBois2001].
                MySQL este un sistem multiuser (permite să fie folosit concomitent de mai mulţi utilizatori) şi
                multithread (prezintă mai multe fire de execuţie). Utilizează SQL, limbajul standard de
                interogare a bazelor de date.[WellingThomson2005] MySQL este un sistem de gestiune a
                bazelor de date relaţionale. Tabelele sunt conectate prin relaţii predefinite, fapt ce face posibilă
                combinarea datelor din mai multe tabele, la cerere. MySQL este un produs open source.
                </p>
			<p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp;OPHP este un limbaj de scripting folosit pentru crearea paginilor Web dinamice. PHP poate fi
                folosit pentru scrierea unor programe stocate pe server ce accesează baze de date. PHP este un
                limbaj eficient şi securizat. Aplicaţiile PHP sunt uşor de configurat pentru exploatare. PHP
                asigură timpi de răspuns competitivi la rularea aplicaţiilor Web, asigurând în acelaşi timp
                securitatea informaţiilor şi transparenţa faţă de utilizator [Chip2/2003].
                PHP aşa cum este cunoscut astăzi, este, de fapt succesorul produsului numit PHP /
                FI(prescurtarea de la "Interpret Forms").PHP a fostcreat în 1994 de către Rasmus Lerdorf. Prima
                versiune PHP a fost un set binar de Common Gateway Interface (CGI),scris în limbajul de
                programare C. Intre anii 1994-1999 au apărut pe piaţă o serie de versiuni de PHP care s-au
                bucurat de succes. In 2000 s-a lansat versiunea PHP4 având la bază acest motor Zend Engine.  </p>
			<p class="documentation">Funcţiile predefinite se împart în următoarele categorii:</p>
            <p class="documentation">Funcțiile pe șiruri de caractere sunt:</p>
            <ol class="list">
                <li>int strlen(string sir)[site19] are rolul de a returna lungimea şirului sir primit ca
                    parametru.</li>
                <li>string trim(string sir)[site19] are rolul de a elimina spaţiile albe dintr-un şir primit ca
                    parametru</li>
                <li>string ltrim(string sir)[site19] are rolul de a elimina spaţiile albe din stânga şirului
                    primit ca parametru.</li>
                <li>string rtrim(string sir)[site19] are rolul de a elimina spaţiile albe din dreapta şirului
                    primit ca parametru.</li>
                <li>int count(string sir)[site19] are rolul de a număra elementele unui şir primit ca
                    parametru şi returnează numărul lor.</li>
                <li>int strcmp (string sir1, string sir2) [McCatry2002] are rolul de a compara caracter cu
                    caracte cele două şiruri de caractere primite ca parametru.</li>
                <li>string substr (string sir, int n [, int m])) [McCatry2002] are rolul de a returna un subşir,
                    din şirul primit ca parametru începând cu poziţia n şi având lungimea m, în caz că m este
                    specificat. Din cauză că parametrul m este specificat în sintaxa funcţiei între paranteze pătrate
                    înseamnă că este opţional, deci poate lipsi şi atunci se afişează toate caracterele şirului sir primit
                    ce parametru începând cu poziţia n.</li>
                <li>string htmlspecialchars (string sir, [, int citare]) [McCatry2002] converteşte toate
                    caracterele speciale primite ca parametru în entităţi HTML
                    </li>
            </ol>
			<p class="documentation">O constantă are un tip şi o valoare. Atât tipul, cât şi valoare, sunt determinate de caracterele
                care intră în componenţa constantei. Valoare unei constante nu poate fi schimbată în timpul
                execuţiei programului în care a fost utilizată. [Negrescu2000]
                </p>
			<p class="documentation">Interpretorul PHP permite folosirea a nouă tipuri diferite de operatori. Aceştia operează asupra
                unor expresii (una, doua sau trei) şi furnizează ca rezultat o altă expresie care este rezultatul
                operaţiei corespunzătoare.[site14]
                Operatorii aritmetici acţionează asupra a doi sau mai mulţi operanzi. Aceştia sunt: [site14]
                [WellingThomson2005] [Chip2/2003]
                </p>
				<ol class="list">
					<li>adunare ('+');</li>
					<li>scădere ('-'); </li>
					<li>înmulţire ('*');</li>
					<li>împărţire ('/');</li>
                    <li>restul împărţirii ('%').</li>
				</ol>
		</div>
	</div>
</div>