<!DOCTYPE html>
<html>
	<head>
		<title>LANDING</title>
	</head>
	<link rel="stylesheet/css" href="landing-page.component.css"/>
	<meta name="viewport" content="height= device-height, width=device-width, initial-scale = 1.0">
	<body>
		<div class="menu">
			<ul class="menu cf">
				<li>
			  <a href="">Informatica Economica</a>
				  <ul class="submenu">
				    <li><a routerLink = "/algoritmi">Algoritmi si structuri de date</a></li>
				    <li><a routerLink="/sisteme-de-operare">Sisteme de operare</a></li>
				    <li><a routerLink = "/baze-de-date">Baze de date</a></li>
				    <li><a routerLink = "/baze-de-date-distribuite">Baze de date distribuite</a></li>
					<li><a routerLink="/inteligenta-artificiala">Inteligenta Artificiala</a></li>
				    <li><a routerLink = "/frontend">Frontend</a></li>
				    <li><a routerLink = "/proiectare-web">Proiectare web</a></li>
				    <li><a routerLink = "/retele-de-calculatoare">Retele de calculatoare</a></li>
				    <li><a routerLink = "/web-semantic">Web Semantic</a></li>
				  </ul>     
				</li>
			</ul>
		</div>
		<div class="landing-text">
			<p>Salut. Bine ai venit pe această pagină. <br/> Dacă ai nevoie de ajutor, noi suntem alături de tine cu orice ai tu nevoie. <br/> Dă click pe una din materiile disponibile pentru a putea afla mai multe informații despre aceasta.</p>
		</div>
	</body>
	
</html>