<div class="modal-container">
	<div class="modal-close">
		<button class="modal-btn-close" (click)="closeModal()">x</button>
	</div>
	<div class="modal-title">
		<h3><b>FRONTEND</b></h3>
	</div>
	<div>
		<div class="modal-body">
			<p class="documentation"> &nbsp;&nbsp;&nbsp;&nbsp; Front-end se refera la orice aspect al procesului de proiectare, al paginilor web, care apare sau are
                legatura directa cu browser-ul. Dezvoltarea front-end presupune design-ul interfetelor paginilor web.
                Urmatoarele activitati sunt, de obicei, considerate a fi sarcini de front-end: design-ul grafic al
                interfetelor, aranjarea si prezentarea informatiilor in vederea vizionarii in conditii optime; crearea
                documentelor HTML si a foilor de stil CSS; integrarea functionalitatilor oferite cu ajutorul scripturilor
                JavaScript.</p>
			<br>
			<p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp; HTML (Hypertext Markup Language) este folosit pentru structurarea paginilor web. Exista cateva
                versiuni de HTML in uz astazi: HTML 4.01 este cel mai popular, HTML5 este mai robust si castiga
                teren, iar incet incet se bucura si de sprijinul browserelor. Ambele versiuni au o implementare mai
                stricta numita XHTML (eXtensible HTML ), care este, in esenta, aceeasi limbaj dar cu o sintaxa mult
                mai stricta. HTML nu este un limbaj de programare, este un limbaj de marcare, ceea ce inseamna ca
                permite identificarea si descrierea diferitelor componente ale unui document, cum ar fi titluri,
                paragrafe sau liste. Marcajul indica structura de baza a documentului. </p>
			<p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp;PCSS (Cascading Style Sheets) este folosit pentru prezentare. In timp ce HTML este folosit pentru a
                descrie continutul unei pagini web, rolul Cascading Style Sheets (CSS) este de a descrie modul in care
                ar trebui sa arate continutul. In designul web, modul in care arata pagina este cunoscut sub termenul
                de prezentare. Asta inseamna fonturi, culori, imagini de fundal, linii de spatiere, aspectul paginii, etc.
                Toate aceste elemente sunt controlate cu CSS. Cu cea mai noua versiune (CSS3), putem adauga chiar
                efecte speciale si animatie paginilor web. 
			</p>
            <p class="documentation">JavaScript este folosit pentru a oferi interactivitate. JavaScript este un limbaj de scripting care este
                utilizat pentru a adauga interactivitate paginilor web. Interactivitatea consta in: validarea campurilor
                unui formular; schimbarea stilurilor pentru un element sau chiar pentru intreg-ul site; determinarea
                browserului sa isi aminteasca informatii despre utilizator pentru vititele viitoare; construirea unor
                widget-uri de interfata, cum ar fi meniurile derulante. JavaScript este utilizat pentru a manipula
                elementele din cadrul paginiilor web, a stilurilor aplicate, sau chiar a browser-ului. </p>
			<br>
			<p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp;HTML (Hyper Text Markup Language) este un limbaj folosit pentru a descrie paginile web. HTML este
                un limbaj de marcare alcatuit dintr-un set de tag-uri de marcare. Tag-urile descriu continutul si
                structura documentului HTML. Documentele HTML sunt alcatuite atat din tag-uri HTML cat si din text
                simplu. Documentele HTML mai sunt numite si pagini web.
                Tag-urile de marcare HTML sunt de obicei numite simplu, tag-uri HTML. Acestea sunt cuvinte cheie
                inconjurate de paranteze unghiulare. Tag-urile HTML sunt in mod normal prezente in perechi. Primul
                tag dintr-o pereche este tag-ul de inceput, iar al doilea este tag-ul de final. Tag-ul de final este scris ca
                si tag-ul de inceput, cu diferenta ca mai contine un slash inainte de numele tag-ului.
                Un element HTML este tot ceea ce este intre tag-ul de start si tag-ul final, inclusiv tag-urile. Tag-urile
                HTML si elementele HTML sunt adesea folosite pentru a descrie acelasi lucru. Fiecare element spune
                browserului ceva despre informatiile care se afla intre tag-ul de inceput si cel de sfarsit.</p>
			<p class="documentation">&nbsp;&nbsp;&nbsp;&nbsp;In sectiunea de antet 
                se introduc informatii despre autorul documentului si titlul. Majoritatea browserelor Web afiseaza continutul din title in bara de titlu si
                stocheaza acest titlu atunci cand utilizatorul salveaza adresa paginii, ca semn de carte sau intr-o lista
                de interes. Din aceste motive se recomanda folosirea unor titluri cat mai semnificative, unice care
                trebuie sa contina numai text simplu.
                Elementul antet este un container pentru o serie de elementele componente. Antetul
                contine, de obicei, si corpul functiilor-handler si ale altor scripturi. Comentariile se includ in
                marcatorul si pot contine scripturi Java Script, Jscript, PHP, ASP, care bor fi ingorate de
                browserece care nu poseda configuratii adecvate.
                Corpul unui document trebuie sa fie cuprins integral intre tag-urile si este format
                din informatia nestructurata, textuala, care se scrie ca in orice document ASCII, dupa care este
                structurata prin includerea anumitor portiuni in marcatori simetrici si formatata prin stabilirea de
                atribute pentru anumiti marcatori. Textul neformatat este considerat de catre browsere plain text,
                afisat intr-un singur sir, trecandu-se la o noua linie doar cand se ajunge la marginea ferestrei, fontul
                folosit la afisare este fontul implicit setat in browser.
                Listele sunt enumerari de item-uri. Listele pot fi ordonate sau neordonate sau liste de
                definitii. </p>
			<p class="documentation">Cel mai popular concept, atunci când se vorbeşte despre interconectarea bazelor de
				date heterogene, este wrapper-ul, uneori fiind cunoscut şi cu denumirea de mediator.
				Wrapper-ele sunt nişte adaptoare, nişte straturi software intermediare ce transparentizează
				diferitele nivele ale heterogenităţii. Heterogenitatea fizică poate fi împărţită în următoarele
				subcategorii: heterogenitate de hardware, heterogenitatea sistemelor de operare,
				heterogenitatea modelelor de date, heterogenitate de limbaje de interogare,
				heterogenitatea limbajelor de programare.</p>
		</div>
	</div>
</div>